<template>
      <section id="about">
        <div class="container d-flex justify-content-center">
            <div class="sasha d-flex justify-content-center align-items-center mt-5">
                <img src="../assets/logo2.png" alt="arrow" class="arrow mr-5" >

                <div class="text d-flex flex-column align-items-start">
                    <h2>OUR STORY</h2>
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                    </p>
                    <p>
                        Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>

                    <blueButton class="mobile" name='LEARN MORE' />
                </div>
            </div>
        </div>
    </section> 
</template>

<script>
import blueButton from './BlueButton.vue'

export default {
    components: {
        blueButton
    }
}
</script>

<style>
#about {
    min-height: 400px;
}

.arrow {
    max-width: 50%;
    max-height: 100%;
}

.text {
    max-width: 50%;
    max-height: 100%;
}

#about h2 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

#about p {
    opacity: 0.75;
    color: #413d4b;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.42px;
}
@media (max-width:  576px) { 
.sasha {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow {
   margin-left: 27%;
   margin-right: 10%;
}
.text {
    max-width: 90%;
    margin-left: 10%;
    text-align: center;
}
.text h2 {
   margin-left: auto;
   margin-right: auto;
}
.mobile {
   margin-left: auto;
   margin-right: auto;
}
 }
</style>
