<template>
    <div>
    <button type="button" class="btn btn-outline-info">{{ name }}</button>
    </div>
</template>

<script>
export default {
    props: ['name']
    
}
</script>

<style>
.btn {
    font-family: 'Hammersmith One', sans-serif;
    border: 1px solid #00e0d0;
    border-radius: 4%;
    color: #00e0d0;
    margin-bottom: 125px;
}
</style>
