<template>
        <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                      <!-------------------------First---------------------------->
                         <div class="carousel-item active">
                            <div class="row">
                                <div class="ml-auto col-lg-10 d-flex flex-column justify-content-center align-items-center mr-auto">
                                    <div class="offer">
                                        <h1 class="offer__title">
                                                We Are Awesome Creative Agency
                                        </h1>
                                    </div>
                                    <div class="offer_text">
                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                                    </div>
                                    <blueButton name='LEARN MORE'/>
                                </div>
                            </div>                        
                          </div>
                      <!-------------------------Second---------------------------->
                      <div class="carousel-item">
                          <div class="row">
                              <div class="ml-auto col-lg-10 d-flex flex-column justify-content-center align-items-center mr-auto">
                                  <div class="offer">
                                      <h1 class="offer__title">
                                              We Are Awesome Creative Agency
                                      </h1>
                                  </div>
                                  <div class="offer_text">
                                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A modi repudiandae sunt similique inventore nulla perspiciatis optio nisi maiores, porro quis beatae culpa aspernatur et accusamus nemo. Similique harum ipsa at laudantium illum excepturi debitis cumque laborum?</p>
                                  </div>
                                  <blueButton name='LEARN MORE'/>
                              </div>
                          </div>  
                        </div>
                      <!-------------------------Third---------------------------->
                       <div class="carousel-item">
                          <div class="row">
                              <div class="ml-auto col-lg-10 d-flex flex-column justify-content-center align-items-center mr-auto">
                                  <div class="offer">
                                      <h1 class="offer__title">
                                              We Are Awesome Creative Agency
                                      </h1>
                                  </div>
                                  <div class="offer_text">
                                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus animi non nostrum molestias optio suscipit adipisci dolorem dolore, itaque commodi. Recusandae velit natus nisi reprehenderit praesentium?Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                  </div>
                                 <blueButton name='LEARN MORE'/>
                              </div>
                          </div>                        
                        </div>
                      <!-------------------------Fourth---------------------------->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="ml-auto col-lg-10 d-flex flex-column justify-content-center align-items-center mr-auto">
                                    <div class="offer">
                                        <h1 class="offer__title">
                                                We Are Awesome Creative Agency
                                        </h1>
                                    </div>
                                    <div class="offer_text">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa impedit officiis quidem, dicta, obcaecati, quo laboriosam architecto possimus quas labore ab accusantium? Maiores assumenda cum sequi placeat necessitatibus esse natus!</p>
                                    </div>
                                    <blueButton name='LEARN MORE'/>
                                </div>
                            </div>                       
                          </div>
                    </div>
                   
                  </div>
            </div>
</template>


<script>
import blueButton from './BlueButton.vue'

export default {
    components: {
        blueButton
    }
}
</script>


<style>
/* ===========Carousel============ */
/* Dot */
.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    background-color: #1f1443 !important;
    border: 1px solid #c2c2c2 !important;
}

.carousel-indicators li.active {
    background-color: #00e0d0 !important;
    border: 1px solid #00e0d0 !important;
}

/* Offer */
.carousel-inner {
    text-align: center;
}

.offer {
    margin-top: 180px;
    width: 100%;
    height: 70%;
    overflow:hidden;
    display:block;
}

.offer__title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.08ch;
}

.offer__title:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    margin: 23px auto 27px;
}

.offer_text {
    width: 100%;
    max-width: 771px;
    font-weight: 300;
    letter-spacing: 0.09ch;
    margin-bottom: 50px;
}
</style>
