<template>
    <section id="contact">
        <div class="container d-flex justify-content-around pt-5">
            <div class="contact">
                <h2 class="mb-5">GIVE US A GOOD NEWS</h2>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="formGroupName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="formGroupEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="formGroupSubject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Your Massage"></textarea>
                    </div>
                </form>
                <blueButton name='SUBMIT'/>

            </div>

            <div class="work">
                <h2 class="mb-5 lorem">OUR HAPPY CLIENT</h2>
                <div class="client d-flex">
                    <div class="left d-flex flex-column justify-content-between align-items-center mr-5">
                        <img src="../assets/Zara.svg.png" alt="">
                        <img src="../assets/Barneys_New_York.svg.png" alt="">
                        <img src="../assets/Calvin_klein_logo.svg.png" alt="">
                        <img src="../assets/Converse_logo.svg.png" alt="">
                        <img src="../assets/1280px-Levi's_logo.svg.png" alt="">
                    </div>
                    <div class="right d-flex flex-column justify-content-between align-items-center mr-5">
                        <img src="../assets/Mango.svg.png" alt="">
                        <img src="../assets/Gucci.svg.png" alt="">
                        <img src="../assets/1280px-Logo_NIKE.svg.png" alt="">
                        <img src="../assets/Puma_Logo.svg.png" alt="">
                        <img src="../assets/Billabong.svg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import blueButton from './BlueButton.vue'

export default {
    components: {
        blueButton
    }
    
}
</script>

<style>
#contact {
    min-height: 700px;
}

.left,
.right {
    width: 140px;
    height: 399px;
}
</style>


<style scoped>
@media (max-width:  576px){
    
    #contact {
        min-height: 900px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact,
    .work {
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
    }
    .work {
        margin-top: -80px;
        margin-left: 20%;
        margin-bottom: 10%;
    }
    h2 {
        font-size: 27px;
    }
    .lorem {
        margin-left: -20%;
    }
    img {
        width: 50%;
        height: 30px;
    }

}
</style>
