<template>
     <section id="expertise">
        <div class="conyainer d-flex flex-column justify-content-center align-items-center">
            <div class="headline mt-5">
                <h3>EXPERTISE</h3>
                <h6>Lorem ipsum dolor sit amet proin gravida nibh vel velit</h6>
            </div>
            <div class="content d-flex justify-content-around mt-5">
                <div class="items d-flex flex-column justify-content-center align-items-center">
                    <img src="../assets/ICON_1.png" alt="icon" class="mb-4">
                    <h6 class="mb-3">WEB DESIGN & DEVELOPMENT</h6>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                </div>

                <div class="items d-flex flex-column justify-content-center align-items-center">
                    <img src="../assets/ICON_2.png" alt="icon" class="mb-4">
                    <h6 class="mb-3">BRANDING IDENTITY</h6>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                </div>

                <div class="items d-flex flex-column justify-content-center align-items-center">
                    <img src="../assets/ICON_3.png" alt="icon" class="mb-4">
                    <h6 class="mb-3">MOBILE APP</h6>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                </div>
            </div>

            <div class="content d-flex justify-content-around mt-5">
                    <div id="sa" class="items d-flex flex-column justify-content-center align-items-center">
                        <img src="../assets/ICON_4.png" alt="icon" class="mb-4">
                        <h6 class="mb-3">SEARCH ENGINE OPTIMIZATION</h6>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                    </div>
    
                    <div class="items d-flex flex-column justify-content-center align-items-center">
                        <img src="../assets/ICON_5.png" alt="icon" class="mb-4">
                        <h6 class="mb-3">GAME DEVELOPMENT</h6>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                    </div>
    
                    <div class="items d-flex flex-column justify-content-center align-items-center">
                        <img src="../assets/ICON_6.png" alt="icon" class="mb-4">
                        <h6 class="mb-3">MADE WITH LOVE</h6>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
                    </div>
                </div>
        </div>
    </section>
</template>


<script>
export default {
    
}
</script>


<style>
#expertise {
    min-height: 700px;
}

.content{
    width: 70%;
    height: 178px;
}

.headline {
    text-align: center;
}

.headline h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.items {
    text-align: center;
    width: 254px;
    height: 178px;
}

.content h6{
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.content p {
    opacity: 0.75;
    color: #333333;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.7px;
}

.headline h6:after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #413d4b;
    opacity: 0.3;
    margin: 23px auto 27px;
}
</style>


<style scoped>

.items:hover {
    zoom: 1.02;
}
@media (max-width:  576px){
    
    #expertise {
    min-height: 1300px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 200px !important;
    }

    #sa {
        margin-top: 330px;
    }

    .headline {
        margin-left: 6%;    
    }

    .headline h6{
        font-size: 13px;
    }
}
</style>

