<template>
    <footer id="footer">
        <div class="container">
            <div class="footer__items d-flex justify-content-between align-items-center">
                <div class="footer__left d-flex flex-column mt-5">

                    <logo />
                    
                    <p>lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit</p>
                </div>

                <div class="footer__center mt-5">
                    <h6 class="mb-4">OUR STUDIO</h6>
                    <div class="d-flex justify-content-center align-items-start">
                        <img class="mr-3" src="../assets/big104.png" alt="">
                        <p>Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="mr-3 mb-3" src="../assets/phone351.png" alt="">
                        <p>(+62) 21-2224 3333</p>
                    </div>
                </div>

                <div class="footer__right mt-5">
                    <h6>STAY IN TOUCH</h6>
                    <div class="d-flex mb-3">
                        <input type="email" id="form" class="form-control" placeholder="Subscribe our newsletter">
                        <a href="#footer"><img src="../assets/ar.png" alt=""></a>
                    </div>

                    <div class="social">
                        <a href="#footer"><img id="shine" src="../assets/f.png" alt="facebook"></a>
                        <a href="#footer"><img id="shine" src="../assets/t.png" alt="facebook"></a>
                        <a href="#footer"><img id="shine" src="../assets/b.png" alt="facebook"></a>
                        <a href="#footer"><img id="shine" src="../assets/i.png" alt="instagram"></a>
                        <a href="#footer"><img id="shine" src="../assets/g.png" alt="google"></a>
                        <a href="#footer"><img id="shine" src="../assets/y.png" alt="youtube"></a>
                    </div>
                </div>
            </div>
                <div class="copyright d-flex justify-content-between">
                    <div class="text">
                        <a class="ml-3" href="#footer">HELP</a>
                        <a class="ml-3" href="#footer">TERMS & CONDITION </a>
                        <a class="ml-3" href="#footer">PRIVACY</a>
                    </div>
                    <p>Copyright © 2015 - Tajem Creative</p>
                </div>
        </div>
    </footer>
</template>

<script>
import logo from './Logo.vue'

export default {
    components: {
      logo
  }
}
</script>

<style>
#footer {
    background: linear-gradient(to right, rgba(9, 5, 47, .7), rgba(49, 29, 94, 1)), url(../assets/background4.png) center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.footer__items {
    min-height: 400px;
}

.footer__items {
    width: 939px;
    height: 177px;
}

.footer__left{
    width: 283px;
    height: 166px;
}

.footer__center{
    width: 267px;
    height: 157px;
}

.footer__right{
    width: 291px;
    height: 157px;
}
.copyright {
    width: 938px;
}

/* Form */
#form {
    background: none;
    border-radius: 0;
    width: 211px;
    height: 45px;
    border: 1px solid #ffffff;
    opacity: 0.5;
}
#footer a {
    color: #ffffff;
}

#footer a img{
    margin-right: 10px;
    opacity: 0.7;
}

#footer a img#shine:hover{
    margin: 0 2px;
    background: #00e0d0;
    border-radius: 100%;
    opacity: 1;
    transition: all 0.3s;
}

#shine:hover {
    border-radius: 0; 
}
</style>

<style scoped>
@media (max-width:  576px){
    
    #footer {
        min-height: 700px;
        width: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 220px;
    }   
    .text {
        margin-right: 12%;
    }
}
</style>
