<template>
    <header id="header" class="header">
        <div class="container">
                <navMenu />
            </div>    
            <carousel />
    </header>
</template>


<script>
import navMenu from './NavMenu.vue'
import carousel from './Carousel.vue'


export default {
    components:{
        navMenu,
        carousel
    }
}
</script>
    

<style>
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #413d4b;
    line-height: 22px;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none !important;
}
/*=================== Header =======================*/
.header {
    background: linear-gradient(to right, rgba(9, 5, 47, .7), rgba(49, 29, 94, 1)), url(../assets/background.png) center no-repeat;
    background-size: cover;
    color: #ffffff;
}
</style>
