<template>   
    <div class="navbar-brand logo">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo.png" alt="logo">
            <span class="logo">tajam</span> 
        </a>
    </div>  
</template>

<script>
export default {
    
}
</script>

<style>
/* Logo */
.logo {
    color: #00e0d0;
    font-size: 30px !important;
    font-weight: 100 !important;
}
</style>
