<template>
    <div>
    <!---------------- NanMenu-------------------->
                <nav class="navbar navbar-expand-lg navbar-light">
                    
                    <logo />
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="sa nav-item nav-link active" id="menu" href="#">HOME <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" id="menu" href="#about">ABOUT</a>
                        <a class="nav-item nav-link" id="menu" href="#expertise">EXPERTISE</a>
                        <a class="nav-item nav-link" id="menu" href="#team">TEAMS</a>
                        <a class="nav-item nav-link" id="menu" href="#works">WORKS</a>
                        <a class="nav-item nav-link" id="menu" href="#testimonials">PEOPLE SAY</a>
                        <a class="nav-item nav-link" id="menu" href="#contact">CONTACT</a>

                      </div>
                    </div>
                  </nav>
                <!---------------- EndNavMenu---------------->    
    </div>
</template>
  

<script>
import logo from './Logo.vue'

export default {
    components: {
      logo
  }
}
</script>


<style>
/* Menu */
.nav-item {
    margin: 0 5px;
}

#menu {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.33px;
}
a.active,
a:hover,
a:focus  {
    color: #00e0d0 !important;
}
.navbar-toggler {
    background-color: #00e0d0 !important;
    opacity: 0.4;
}
</style>
