<template>
    <section id="team">
        <div class="container d-flex flex-column align-items-center">
            <div class="headline mt-5">
                <h3>MEET OUR AMAZING TEAM</h3>
                <h6>Lorem ipsum dolor sit amet proin gravida nibh vel velit</h6>
            </div>
            <div class="content d-flex justify-content-center align-items-center">

                <div class="items mr-3">
                    <img src="../assets/1.jpg" alt="photo">
                    <div class="border">
                        <h6 class="mt-3">SEMF UCUK</h6>
                        <p>CEO & FOUNDER</p>
                    </div>
                </div>

                <div class="items mr-3">
                    <img src="../assets/2.jpg" alt="photo">
                    <div class="border">
                        <h6 class="mt-3">SEMF UCUK</h6>
                        <p>CEO & FOUNDER</p>
                    </div>
                </div>

                <div class="items mr-3">
                    <img src="../assets/3.jpg" alt="photo">
                    <div class="border">
                        <h6 class="mt-3">SEMF UCUK</h6>
                        <p>CEO & FOUNDER</p>
                    </div>
                </div>

                <div class="items mr-3">
                    <img src="../assets/4.jpg" alt="photo">
                    <div class="border">
                        <h6 class="mt-3">SEMF UCUK</h6>
                        <p>CEO & FOUNDER</p>
                    </div>
                </div>
            </div>

            <div class="bottom d-flex flex-column align-items-center">
                <p>Become part of our dream team, let’s join us ! </p>
                <blueButton name='WE ARE HIRING'/>
            </div>
        </div>
    </section>
</template>

<script>
import blueButton from './BlueButton.vue'

export default {
    components: {
        blueButton
    }

}
</script>

<style scoped>
#team {
    background: linear-gradient(to right, rgba(9, 5, 47, .7), rgba(49, 29, 94, 1)), url(../assets/background3.png) center no-repeat;
    background-size: cover;
    min-height: 710px;
}

#team .headline,
#team h6,
#team p {
    color: #ffffff;
}

#team .headline h6:after {
    background-color: #ffffff;  
}

.items img {
    width: 98%;
    border: 1px solid #e1e1e1;
    opacity: 0.6;
    transition: all 0.5s;
}

.items img:hover {
    width: 100%;
    border: 1px solid #e1e1e1;
    opacity: 1;
}

.border{
    width: 100%;
    height: 45%;
    border: 1px solid #e1e1e1;
}

.bottom {
    margin-top: 200px;
}

.bottom p {
    color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
}
</style>

<style scoped>
@media (max-width:  576px){
    
    #team {
    min-height: 1500px;
    } 
    /* Text */
    .headline {
        margin-left: 30px;
    }

    .headline h3{
        font-size: 20px;
        width: 80%;
        margin-left: 5%;
    }

    .headline h6 {
        font-size: 14px;
        width: 80%;
        margin-left: 8%;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 400px !important;
    }
    .items {
        width: 200px;
        height: 100%;
        margin-top: 120px;
        margin-left: 40px;
    }
    .bottom {
        margin-top: 650px !important;
        margin-left: 30px;
    }
    .bottom p {
        width: 80%;
        text-align: center;
        margin-right: 7%;
    }

}
</style>