<template>
   <section id="testimonials">
    <div class="container">
        <img class="mt-5" src="../assets/dot.png" alt="">
        <div class="bd-example pt-5">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../assets/client.jpg" class="d-block w-20 circle" alt="...">
                        <div class="carousel-caption d-none d-md-block h-100">
                            <h5>JANE GALADRIEL</h5>
                            <span class="small_text">CEO TENGKUREP</span>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/men.jpg" class="d-block w-20 circle" alt="...">
                        <div class="carousel-caption d-none d-md-block h-100">
                            <h5>JANE GALADRIEL</h5>
                            <span class="small_text">CEO TENGKUREP</span>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/woman.jpg" class="d-block w-20 circle" alt="...">
                        <div class="carousel-caption d-none d-md-block h-100">
                            <h5>JANE GALADRIEL</h5>
                            <span class="small_text">CEO TENGKUREP</span>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</template>

<script>
export default {
    
}
</script>

<style scoped>
#testimonials {
    background: linear-gradient(to right, rgba(9, 5, 47, .7), rgba(49, 29, 94, 1)), url(../assets/background4.png) center no-repeat;
    background-size: cover;
    color: #ffffff;
    min-height: 400px;
}

.circle {
    border-radius: 100%;
    opacity: 0.7;
}

.circle:hover {
    opacity: 1;
}

#carouselExampleCaptions,
.carousel-item {
    width: 100%;
    height: 200px;
}

.carousel-caption{
    right: 5%;
}

.small_text {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.7px;
}
</style>

<style scoped>
@media (max-width:  576px){
    

}
</style>
