<template>
   <section id="video">
        <div class="container video d-flex justify-content-center align-items-center">
            <a href="#video" class="play d-flex flex-column align-items-center" @click='show = !show'>
                <img src="../assets/play.png" alt="play" class="play__img mb-3">
                WATCH OUR STORY
            </a>
            
            <transition name="fade">
                <iframe class="ml-5" v-if="show" width="699" height="394" src="https://www.youtube.com/embed/0mRhdV3ldVM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe>
           </transition>
           

        </div>
    </section>
</template>

<script>
export default {
    data() {
    return{
    show: false
        }
    } 
}
</script>

<style>
.play-button {
  font-size: 80px;
  color: #38c695;
}
#video {
    background: linear-gradient(to right, rgba(9, 5, 47, .7), rgba(49, 29, 94, 1)), url(../assets/background2.png) center no-repeat;
    background-size: cover;
}

.video {
    min-height: 550px;

}

.play {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    zoom: 0.8;
}

.play:hover {
    text-decoration: none;
}

/* Animation */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.play__img:hover{
    margin: 3px;
    background-color:#00e0d146;
    border: 3px solid #00e0d12a;
    border-radius: 100%;
    zoom: 1.2;

    }
</style>

<style scoped>
@media (max-width:  576px){
    iframe {
        width: 60%;
        height: 50%;
    }
}
</style>

