<template>
    <section id="works">
        <div class="container-fluide ml-2">
            <div class="headline d-flex justify-content-around mt-5">
                <h3>OUR WORKS</h3>
                <a href="#works">See All Project in dribbble ></a>
            </div>

            <div class="items d-flex">
               <img src="../assets/1.png" alt=""> 
               <img src="../assets/2.png" alt=""> 
               <img src="../assets/3.png" alt=""> 
               <img src="../assets/1.png" alt=""> 
               <img src="../assets/2.png" alt=""> 
            </div>

            <div class="items d-flex">
                <img src="../assets/3.png" alt=""> 
                <img src="../assets/3.png" alt=""> 
                <img src="../assets/1.png" alt=""> 
                <img src="../assets/3.png" alt=""> 
                <img src="../assets/1.png" alt=""> 
             </div>
             <div class="col-md-2 mx-auto mt-5">
               <blueButton id="mobile" name='LOAD MORE'/>
            </div>
        </div>
    </section>
</template>


<script>
import blueButton from './BlueButton.vue'

export default {
    components: {
        blueButton
    }
    
}
</script>

<style scoped>
#works {
    min-height: 530px;
    width: 100%;
}

#works a{
    color: #413d4b;
    letter-spacing: 0.7px;
    }

.items img {
    width: 110%;
    opacity: 0.6;
    transition: all 0.5s;
}

.items img:hover {
    width: 100%;
    border: 1px solid #e1e1e1;
    opacity: 1;
}

@media (max-width:  576px){
    #works {
        min-height: 350px;
        margin-top: 70px;
        margin-bottom: -70px;
    }

    .headline {
        margin-left: 30px;
    }

    .items {
        width: 17.5%;
        height: 50px;
    }

    #mobile {
        margin-left: 35%;
    }

    #works a{
        font-size: 17px;
    }
 
    .items img:hover {
        border: 1px solid #e1e1e1;
        opacity: 1;
    } 
}
</style>


