<template>
  <div id="app">
    <Head />
    <About />
    <Video />
    <Expertise />
    <Team />
    <Works />
    <Testimonials />
    <Contact />
    <Footer />
  </div>
</template>

<script>
import Head from './components/Head.vue'
import About from './components/About.vue'
import Video from './components/Video.vue'
import Expertise from './components/Expertise.vue'
import Team from './components/Team.vue'
import Works from './components/Works.vue'
import Contact from './components/Contact.vue'
import Footer from './components/Footer.vue'
import Testimonials from './components/Testimonials.vue'


export default {
  name: 'app',
  components: {
    Head,
    About,
    Video,
    Expertise,
    Team,
    Works,
    Contact,
    Footer,
    Testimonials
  }
}
</script>

<style>

</style>
